
.box {
    width: 600px;
    height: 430px;
    border: 1px solid #ccc;
    padding: 20px;
    align-items: center;
    align-self: center;
    background-color: #fff;
    margin: auto;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;


}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}

.button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-container button:hover {
    background-color: #014D6D;
    color: #fff;
    box-shadow: 0 0 10px #ccc;
}

.icon {
    display: table-column;
    margin: auto;
    align-self: center;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0px;


}


.icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 5px;

}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    cursor: pointer;
    transition-duration: 0.4s;
}

.icon {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: #ccc;
}

.icon.active {
    background-color: #014D6D;
    color: #fff;

}


.digit {
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    align-self: center;
    padding: 20px;
}

.text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    align-self: center;
    padding: 10px;
}

.content.show {
    display: block;
}