body {
    padding: 0;
    margin: 0;
    font-family: verdana;
    background-color: #dcd2db;
}
h1{
    text-align: center;
    color: #292643;
    padding: 1rem;
    font-size: 3rem;

}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 36vh;
    width: 100%;
}
.custom-input {
    background-color: #dcd2db;
    color: #333;
    border-color: #292643;
    box-shadow: 0 0 0 0.2rem rgba(90, 38, 103, 0.25);
    padding: 1rem;
  }

  .custom-input:focus {
    background-color: #fff;
    color: #333;
    border-color: #292643;
    box-shadow: 0 0 0 0.2rem rgba(90, 38, 103, 0.25);
  }
.digit{
    font-size: 6rem;
}
.text{
    font-size: 1rem;
    color: #292643;
    font-style: bold;
}
.btn{
    padding: 1rem;
    margin: 1rem;
    font-size: 20px;
    color: #292643;
    border:none;

}
.btn:hover{
    background-color: #292643;
    color: #E99E75;
    cursor: pointer;
}
